html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

:root{
    --primary-color: #212121;
    --text-color: #757575;
    --secondary-color: #FFFFFF;
    --secondary-link-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
    --grey: #F5F4FA;
    --svg: #AFB1B8;
}

/* header */

.logo{
    color: #000000;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-top: 10px;
    margin-bottom: 25px;

}
.logo-span,
.nav-link:hover,
.nav-link:focus,
.info:hover,
.info:focus
{
    color: var(--accent-color);
}

.nav-link{
    color: var(--primary-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    
}

.list-item{
    color: var(--text-color) ;
    margin-right: 54px;

}

.list-item:last-child{
    margin-right: 0;
}

/* Hero-section */

.hero-section{
    background-color: #2F303A;
    padding-bottom: 200px;
    padding-top: 200px;
    text-align: center;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url(./img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-title{
    color: var(--secondary-color);
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.2;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    letter-spacing: 0.06em;
}

.nav-list{
    list-style: none;
    display: flex;
    margin-left: 93px;
}

.head-title{
    color: var(--primary-color);
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.names{
    color: var(--primary-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.items-descritption{
    color: var(--primary-color);
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2px;
    letter-spacing: 0.06em;
    margin-top: 20px;
}

.h2-title{
    color: var(--primary-color);
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    }

.description{
    color: var(--text-color);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.features-description{
    color: var(--text-color);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.address{
    color: var(--secondary-color);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    margin-top: 20px;
    letter-spacing: 0.03em;
}

.footer{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer_div{
    display: flex;
}

.footer_port{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 94px;
}

.footer-link{
    color: var(--secondary-link-color);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    margin-top: 9px;
    letter-spacing: 0.03em;
}

.button{
    background-color: var(--accent-color);
    color: var(--secondary-color);
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    border: none;
    border-radius: 4px;
    min-width: 200px;
    height: 50px;
    display: inline-block;
    padding: 10px 25px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    letter-spacing: 0.06em;
}

body{
    color: var(--text-color);
    background-color: #FFFFFF;
    font-family: roboto, sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.logofooter{
    color: var(--secondary-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.team{
    background-color: #F5F4FA;
}

.container{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0px;
}

h1,
h2,
h3,
p,
ul{
    margin-top: 0;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
    margin-top: 0;
    margin-bottom: 0;
}

.header-nav, 
.link-list
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-list{
    display: flex;
}

.link-list li + li{
    margin-left: 50px;
}

.link-list{
    margin-left: auto;
}

.header-nav{
    margin-bottom: 0;

}

.features{
    display: flex;
    justify-content: space-between;
}

.features-item{
    width: 270px;
}

.images{
    display: flex;
    justify-content: center;
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    margin: -1px;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  } 

.image{
    width: 370px;
}

.image_li:not(:last-child){
    margin-right: 30px;
}

.people{
    display: flex;
}

.team_card{
    background-color: #FFFFFF;
    box-shadow: 0px 2px 1px 0px #00000033;
    box-shadow: 0px 1px 1px 0px #00000024;
    box-shadow: 0px 1px 3px 0px #0000001F;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    padding-bottom: 30px;
}

.team_card:not(:last-child){
    margin-right: 30px;
}

.team-img{
    width: 270px;
    height: 260px;
    margin-bottom: 30px;
}

.line{
position: absolute;
width: 100%;
height: 0px;
left: 0px;
top: 70px;
border: 0.5px solid #ECECEC;
}

.filter{
    display: flex;
    justify-content: center;
}

.filt_div{
    display: flex;
    justify-content: center;
    margin-top: 94px;
}

.portfolio_image{
    width: 320px;
}

.portfolio-description{
    color: var(--text-color);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}

.portfolio_li{
    border: 1px solid #EEEEEE;
    width: 320px;
    margin-bottom: 30px;
}

.examples{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.link-text:hover,
.link-text:focus
{
    background-color: var(--accent-color);
    color: var(--secondary-color);
}

.link-text{
    color: var(--primary-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    display: inline-block;
    border-radius: 4px;
    padding: 6px 25px;
    background-color: #F5F4FA;
    margin-bottom: 50px;
    min-width: 73px;
}

.li-button:not(:last-child){
    margin-right: 8px;
}

.features-icon{
    background-color: var(--grey);
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.info{
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.nav-icons{
    margin-right: 10px;
    fill: currentColor;
}

.link-list .info:hover,
.link-list .info:focus
{
    fill: var(--accent-color);
}

.social-network-list{
    display: flex;
    justify-content: center;
}

.social-li:not(:last-child){
    margin-right: 10px;
}

.klientu{
    display: flex;
}

.klient-a{
    width: 170px;
    height: 90px;
    border: 1px solid var(--svg);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--svg);
}

.klient-a:hover
{
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.klient-li:not(:last-child){
    margin-right: 30px;
}

.social-link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.social-link:hover,
.social-link:focus
{
    fill: var(--secondary-color);
    background-color: var(--accent-color);
}

.social-link{
    fill: var(--svg);
}

.footer-icons{
    display: flex;
}

.join{
    margin-left: 70px;
    margin-top: 12px;
}

.join h3{
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.footer-icon{
    fill: var(--secondary-color);
}

.footer-social-link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);;
}

.footer-social-link:hover{
    background-color: var(--accent-color);
}